---
import NotesNavigation from "../../components/NotesNavigation.astro";

export async function getStaticPaths({ paginate }) {
    const allNotesPages = await Astro.glob('../notes/**/*.md');
    return paginate(allNotesPages, { pageSize: 36 });
}

const { page } = Astro.props;
---

<h1> page {page.currentPage} </h1>
<p> page {page.url} </p>

<NotesNavigation prevUrl={page.url.prev} nextUrl={page.url.next}/>