:root {
    --primary-colour: rgb(100,150,250);
    --primary-colour-light: rgb(200,200,250);
    --primary-colour-dark: rgb(50,100,200);
    --accent-colour: orange;
    --page-colour: rgb(240, 240, 250);
    --page-colour-accent: rgb(220,220,230);
    --page-colour-hover: rgb(235,235,250);
    --card-colour: rgb(255,255,255);
}