* {box-sizing: border-box;}

html,body,main,header,footer,section,div,nav,a,slot {
    margin: 0;
    padding: 0;
}

html {
    padding: 0 1.5vw;
    background-color: var(--page-colour);
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}