* {box-sizing: border-box;}

html,body,main,header,footer,section,div,nav,a,slot {
    margin: 0;
    padding: 0;
}

html {
    padding: 0 1.5vw;
    background-color: var(--page-colour);
}

body {
    width: 100%;
    max-width: 635px;
}

a {
    text-decoration: none;
    color: var(--primary-colour);
}

/* Dark Mode */

.dark {
    background-color: var(--page-colour-darkmode);
    color: var(--text-colour-darkmode);
}

.dark a {
    color: var(--primary-colour-light);
}

.dark #Tags , .dark #TOC , .dark .card {
    background-color: var(--card-colour-darkmode);
}

.dark #notes-navigation a:hover {
    background-color: var(--page-colour-hover-darkmode);
}