---
import MainLayout from '../../layouts/MainLayout.astro';

const allNotes = await Astro.glob('../notes/**/*.md');
const allUniqueTags = [...new Set(allNotes.map((note) => note.frontmatter.tags).flat())];
const pageTitle = 'Tags Index';
const pageDescription = 'List of all tags found within the web development notes. Click on any tag to bring up a list of notes containing that tag.';
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <div class="tags">
        {allUniqueTags.map((tag) => (<a class="tag" href={`/tags/${tag}`}>{tag}</a>))}
    </div>
</MainLayout>

<style>
    .tags {
        height: calc(100vh - 190px);
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }

    .tag {
        height: 24px;
        margin: 0 10px 10px 0;
        padding: 0px 4px;
        border: solid 1px var(--primary-colour-dark);
        background-color: var(--primary-colour-light);
    }
</style>