---
import MainLayout from '../layouts/MainLayout.astro';

const identity = {
    name: "Research Scientist",
    specialty: ["language perception","human computer interaction"],
};

const techStack = "things";

const pageTitle = "About Me";
---

<MainLayout>
    <main>
        <h1>{pageTitle}</h1>
    </main>
</MainLayout>