---
import MainLayout from '../layouts/MainLayout.astro';

const identity = {
    name: "Research Scientist",
    specialty: ["language perception","human computer interaction"],
};

const pageTitle = 'About Me';
const pageDescription = 'I am a research scientist specializing in multi-lingual auditory language perception and human computer interaction.';
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <main>
        <h1>{pageTitle}</h1>
        <p>I'm a cognitive scientist researching linguistic sound perception in multilinguals and human computer interaction.</p>
    </main>
</MainLayout>
