---
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = 'Web Development Notes';
---

<MainLayout pageTitle={pageTitle}>
    <main>
        <h1>{pageTitle}</h1>
        <p>A collection of my notes for front end web development.</p>
        <section>
            <h2>Table Of Contents</h2>
            <h3>Git</h3>
            <nav>
                <a href="/notes/00Git/00-basics/">Basics</a>
                <a href="/notes/00Git/01-log/">Log</a>
            </nav>
            <h3>HTML</h3>
            <nav>
                <a href="/notes/01HTML/empty/">empty</a>
            </nav>
        </section>
        <section>
            <a href="./about/">About Me</a>
        </section>
    </main>
</MainLayout>

<style>
    h3 {
        font-size: 24px;
    }
</style>