---
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = 'Home';
const pageDescription = 'Site created by Research Scientist in order to share his front-end web development notes.'
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <main>
        <h1>{pageTitle}</h1>
        <p>Hi!</p>
        <p>This site contains a collection of my notes for front-end web development.</p>
        <p>As I began my web developer journey I wrote detailed notes which I often looked back through. To make things a little more organized and easier to read I started highly condensing the verbosity and writing my notes as markdown files. This helped greatly in terms of searching as I could use any text editor's find tool.</p>
        <p>Guessing that I'm not the only one who has wanted to learn web development. I decided to share my notes by turning them into a website. I made this site so that you can access my notes whenever you like and continue your web development journey.</p>
        <p>If you find this site helpful or have any suggestions for improvement, let me know on <a href="https://mobile.twitter.com/ruben_a_sanchez" target="_blank">Twitter</a>. I'd like to hear from you.</p>

        <a href='/tags/'>tags</a>
    </main>
</MainLayout>
