---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1>Web Development Notes</h1>
        <p>A collection of my notes for front end web development.</p>
        <section>
            <h2>Table Of Contents</h2>
            <h3>Git</h3>
            <nav>
                <a href="/notes/00Git/00-basics/">Basics</a>
                <a href="/notes/00Git/01-log/">Log</a>
            </nav>
            <h3>HTML</h3>
            <nav>
                <a href="/notes/01HTML/empty/">empty</a>
            </nav>
        </section>
    </main>
</Layout>

<style>
    h3 {
        font-size: 24px;
    }
</style>