---
import MainLayout from '../layouts/MainLayout.astro';
const gitNotes = await Astro.glob('../pages/notes/00Git/*.md');
const pageTitle = 'Web Development Notes';
---

<MainLayout pageTitle={pageTitle}>
    <main>
        <h1>{pageTitle}</h1>
        <p>A collection of my notes for front end web development.</p>
        <section id='TOC'>
            <h2>Table Of Contents</h2>
            <h3>Git</h3>
            <nav>
                <ol type="i">
                    <li><a href="/notes/00Git/00-basics/">Basics</a></li>
                    <li><a href="/notes/00Git/01-log/">Log</a></li>
                    {gitNotes.map((note) => <li><a href={note.url}>{note.frontmatter.title}</a></li>)}
                </ol>
            </nav>
            <h3>HTML</h3>
            <nav>
                <ol type="i">
                    <li><a href="/notes/01HTML/empty/">empty</a></li>
                    <li><a href="/notes/01HTML/empty/">empty</a></li>
                </ol>
                
            </nav>
        </section>
    </main>
</MainLayout>

<style>
    h3 {
        font-size: 24px;
    }
    a {
        display: inline-block;
        margin: 0 0 20px;
    }
</style>