---
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = 'Home';
---

<MainLayout pageTitle={pageTitle}>
    <main>
        <h1>{pageTitle}</h1>
        <p>This site contains a collection of my notes for front end web development.</p>
    </main>
</MainLayout>
