---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <main>
        <h1>Web Development Notes</h1>
        <p>A collection of my notes for front end web development.</p>
        <section>
            <h2>Table Of Contents</h2>
            <nav>
                <a href="/about/">about</a>
            </nav>
        </section>
    </main>
</Layout>