---
import MainLayout from '../layouts/MainLayout.astro';

const pageTitle = 'Testing Page';
const pageDescription = 'For experimenting.';
---

<MainLayout pageTitle={pageTitle} pageDescription={pageDescription}>
    <main>
        <h1>{pageTitle}</h1>
        <p>Page for experimenting.</p>

        
    </main>
</MainLayout>
