---
// import '../styles/colours.css';
import SocialMedia from './SocialMedia.astro';
---

<footer>
    <p>A passion project by Research Scientist.</p>
    <SocialMedia platform="twitter" username="ruben_a_sanchez" />
    <SocialMedia platform="github" username="ResearchScientist" />
    
    <a href="https://researchscientist.github.io/WebsitePortfolio" target="_blank">Website</a>
</footer>
