---
import SocialMedia from './SocialMedia.astro';
---

<footer>
    <p>A passion project by Research Scientist.</p>
    <section>
        <SocialMedia platform="twitter" username="ruben_a_sanchez" />
        <SocialMedia platform="github" username="ResearchScientist" />
        <a href="https://researchscientist.github.io/WebsitePortfolio" target="_blank">website</a>
    </section>
</footer>

<style>
    footer {
        width: 97vw;
        height: 100px;
        display: flex;
        flex-direction: column;
        align-content: center;
        border-top: 1px solid var(--primary-colour-soft);
    }

    footer p {
        width: 100%;
        text-align: center;
    }
    
    footer section {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>