<nav>
    <a href="/">HOME</a>
    <a href="/notes/">NOTES</a>
    <a href="/about/">ABOUT</a>
</nav>

<style>
    nav {
        width: 97vw;
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background-color: gray;
    }

    a {
        font-size: 20px;
    }
</style>