<nav>
    <a href="/">Home</a>
    <a href="/notes/">Notes</a>
    <a href="/about/">About</a>
</nav>

<style>
    nav {
        display: flex;
        width: 100%;
        max-width: 500px;
        align-content: space-between;
        background-color: gray;
    }
    a {
        color: var(--primary-color);
    }
</style>