<nav>
    <a href="">Previous Note</a>
    <a href="">Next Note</a>
</nav>

<style>
    nav {
        width: 97vw;
        max-width: 400px;
        margin: 50px auto;
    }

    nav a {
        height: 40px;
        padding: 8px;
        border: 1px solid var(--primary-colour);
    }
</style>