<aside>
    <nav>
        <ul>

        </ul>
    </nav>
</aside>

<!-- need this as an array and then remove the first empty string -->

<script>
    allh1 = document.querySelectorAll('h1');
    allh1.forEach(element => {
        console.log(element.id);
    });
</script>