<nav id="notes-navigation">
    <a href="">Previous Note</a>
    <a href="">Next Note</a>
</nav>

<style>
    nav {
        height: 100px;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--page-colour-accent);
    }

    nav a {
        padding: 14px;
        border-radius: 5px;
        border: 1px solid var(--primary-colour);
    }

    nav a:hover {
        background-color: var(--page-colour-hover);
    }
</style>