---
const allNotesArray = await Astro.glob('../pages/notes/**/*.md');
---

<nav id="notes-navigation">
    <a href="">Previous Note</a>
    <a href="">Next Note</a>
</nav>

<p>{allNotesArray.map((note) => <li>{document.getElementById("addr").innerHTML=window.location.href}<a href={note.url}>{note.title}</a></li>)}</p>
<h1>{Astro.url}</h1>
<h2 id="addr"></h2>
<!-- <p>{allNotesArray}</p> -->



<style>
    nav {
        height: 100px;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid var(--page-colour-accent);
    }

    nav a {
        padding: 14px;
        border-radius: 5px;
        border: 1px solid var(--primary-colour);
    }

    nav a:hover {
        background-color: var(--page-colour-hover);
    }
</style>

<script>
    document.getElementById("addr").innerHTML=window.location.href;
</script>