<nav>
    <a href="">Previous Note</a>
    <a href="">Next Note</a>
</nav>

<style>
    nav {
        width: 97vw;
        height: 100px;
        margin: 50px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        border-top: 1px solid var(--page-colour-accent);
    }

    nav a {
        height: 40px;
        padding: 8px;
        border: 1px solid var(--primary-colour);
    }
</style>